<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
</head>
<body>
    <%- include('../partials/header') %>
    <h1>Editar Producto</h1>
    <form action="/<%=producto.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <!-- <input type="hidden" name="_method" value="PUT"> -->
        <div>
            <label for="marca">Marca: </label>
            <input type="text" name="marca" id="marca" value="<%=producto.marca%>" required>
        </div>
        <br>

        <div>
            <label for="modelo">Modelo: </label>
            <input type="text" name="modelo" id="modelo" value="<%=producto.modelo%>" required>
        </div>
        <br>

        <div>
            <label for="precio">Precio: </label>
            <input type="number" name="precio" id="precio" value="<%=producto.precio%>" required>
        </div>
        <br>

        <div>
            <label for="imagen">Imagen: </label>
            <input type="file" name="imagen" id="imagen" placeholder="Carga la imagen">
        </div>
        <br>

        <div>
            <button type="submit">Actualizar Vehículo</button>
        </div>
    </form>
    <%- include('../partials/footer') %>
</body>
</html>