<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
   
    <%- include('partials/header') %>
    <main>
        <h2>Productos</h2>
        <ul class="producto-lista">
            <% productos.forEach(producto => { %>
            <li>
                <img src="/images/<%=producto.imagen%>" alt="<%= producto.marca %> <%= producto.modelo %>">
              
                    <h2><%= producto.marca %> <%= producto.modelo %></h2>
                    <div>Precio: $<%= producto.precio %></div>
            
            <div class="form-container">
                <a href="/<%=producto.id%>/edit">Editar</a>
                <a href="/<%=producto.id%>/delete">Eliminar</a>
            </div>
            
                
            </li>
        <%  }) %>
        </ul>
    </main>

    <div class="form-container">
        <a href="/create">Creación de Vehículos</a>
    </div>

    <%- include('partials/footer') %>
   
</body>
</html>